/* [class*="col"] {
    border: 1px solid black;
} */

/* body {
    text-align: center;
} */

header {
    background-color: #2C3E50;
}

header i {
    border: 1px solid white;
}

.hero {
    background-color: #1ABC9C;
}

.hero img {
    width: 200px;
}

.fa-star {
    display: inline-block;
    padding-top: 1rem;
}

.hero span,
.about span {
    width: 100px;
    height: 5px;
    background-color: white;
    margin: 3px;
    display: inline-block;
}

.portfolio span,
.contact span {
    width: 100px;
    height: 5px;
    background-color: black;
    margin: 3px;
    display: inline-block;
}


.about {
    background-color: #1ABC9C;
}

.contact button {
    background-color: #1ABC9C;
    color: white;
}

footer {
    background-color: #3A546D;
}

footer button {
    position: relative;
}

footer button:hover {
    filter: invert(3);
}

footer button:active {
    filter: opacity(1.5);
}

footer i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.copy {
    background-color: #202b36;
}

header li a {
    color: white;
    display: inline-block;
}


header a:hover {
    color: #1ABC9C;
}

.portfolio .card {
    position: relative;
    z-index: 997;
}

.portfolio .card::before {
    content: "+";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 999;
    color: white;
    font-size: 12rem;
    display: none;
}

.portfolio .card::after {
    content: "";
    width: 98%;
    height: 94%;
    position: absolute;
    top: 8px;
    left: 3.5px;
    background-color: #1ABC9C;
    z-index: 998;
    border-radius: 5px;
    opacity: 0.5;
    display: none;
}

.portfolio .card:hover::after {
    display: block;
}

.portfolio .card:hover::before {
    display: block;
}