[class*="col"] {
    border: 1px solid black;
}

/* body {
    text-align: center;
} */

header {
    background-color: #2C3E50;
}

header i {
    border: 1px solid white;
}

.hero {
    background-color: #1ABC9C;
}

.hero img {
    width: 200px;
}

.fa-star {
    display: inline-block;
}

.hero span,
.about span {
    width: 100px;
    height: 5px;
    background-color: white;
    margin: 3px;
    display: inline-block;
}

.portfolio span,
.contact span {
    width: 100px;
    height: 5px;
    background-color: black;
    margin: 3px;
    display: inline-block;
}






.about {
    background-color: #1ABC9C;
}

.contact {}

footer {
    background-color: #3A546D;
}